
<div>
    <input type="hidden" value="{{id}}" id="blogId"/>
<h1>Blog Page</h1>
{{!--  spread operater does not require blog.title  --}}
<h2>{{title}}</h2>
<p>{{content}}</p>
{{#each comments as |comment|}}
<div>
    <p>{{comment.content}}</p>
    <p>Comment created at {{createdAt}} by {{user.name}}</p>
</div>
{{/each}}
</div>
<div>
    <h4>Leave a Comment:</h4>
    <textarea id="comment"></textarea>
    <button id="comment-btn">Submit</button>
</div>